body {
    font-family: 'Roboto', sans-serif;
    background-image: url("https://www.discoverlosangeles.com/sites/default/files/images/2019-01/Inn%20of%20the%20Seventh%20Ray%20dining%20room%20night.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: #fff;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.section-card {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.section-card img {
    max-width: 150px;
    margin-left: 20px;
    border-radius: 10px;
}
.section-info {
    flex-grow: 1;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
h2 {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
}
p {
    color: #ddd;
    margin: 0 0 10px 0;
}