body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("./assets/donkeydragon.jpg");
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.section {
  padding: 50px 0;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.content {
  max-width: 600px;
  margin: 0 auto;
}

h1, h2, h3 {
  margin-top: 0;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card {
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-card-text{
  color: #333;
}

@media screen and (max-width: 600px) {
  .project-card {
    flex: 0 0 100%;
  }
}
