body {
    font-family: 'Roboto', sans-serif;
    background: url("./assets/background.gif");
    margin: 0;
    padding: 50px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
.section {
    margin-bottom: 30px;
}
.section-title {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin-bottom: 10px;
}
.item {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
.item img {
    max-width: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 5px;
}
.item h3 {
    margin: 0;
    color: #333;
}
.item p {
    margin: 0;
    color: #777;
}